<h2 class="alert alert-secondary mb-5 text-center">Chat</h2>
<ng-container *ngIf="!isFetching; else loading">
  <div class="alert alert-warning" *ngFor="let message of messages">
    <p class="font-weight-lighter">{{ message.datetime }}</p>
    <p class="font-weight-bold">{{ message.author }}</p>
    <p class="font-italic">" {{ message.message }} "</p>
  </div>
</ng-container>
<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>
